@model UserInformation
@inject DataManager dataManager
@{
    var statisticType = dataManager.StatisticTypes.GetStatisticTypeById(Model.NormalStatisticTypeId);
    var textsStatistics = statisticType.GetTextsStatistics();
    var typeOfTextsStatistics = new Dictionary<string, List<TextStatistics>>();

    var pattern = @"([^{]+)\s{(.+)}";
    var regex = new Regex(pattern);


    foreach (var textStatistic in textsStatistics)
    {
        var match = regex.Match(textStatistic.TextTitle);
        if (match.Groups.Count != 3)
            continue;
        var textTitle = match.Groups[1].Value;
        var isGroupCreated = typeOfTextsStatistics.ContainsKey(textTitle);
        if (!isGroupCreated)
            typeOfTextsStatistics.Add(textTitle, new List<TextStatistics>());
        textStatistic.TextTitle = match.Groups[2].Value;
        typeOfTextsStatistics[textTitle].Add(textStatistic);
    }
    List<string> keys = new List<string>(typeOfTextsStatistics.Keys);
    foreach (var key in keys)
        typeOfTextsStatistics[key] = typeOfTextsStatistics[key].SortBySize();
}

<div class="personal-account">
    <div class="container">
        <div class="personal-account__content-wrapper">
            <div class="personal-account__body">
                <div class="personal-account__header">
                    <div class="personal-account__header-element"
                         id="personal-account__profile-button"
                         onclick="personalAccButtonClicked()">
                        Профиль
                    </div>
                    <div class="personal-account__header-element"
                         id="personal-account__progress-button"
                         onclick="personalAccButtonClicked()">
                        Прогресс
                    </div>
                    <div class="personal-account__header-element"
                         id="personal-account__personalization-button"
                         onclick="personalAccButtonClicked()">
                        Персонализация
                    </div>
                </div>
                <div class="personal-account__main">
                    <div class="personal-account__profile-blcok personal-account__block"
                         id="personal-account__profile-blcok">
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Логин:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content" value="@Model.UserName" />
                        </div>
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Почта:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content" value="@Model.Email" />
                        </div>
                        <div class="personal-account__block-footer">
                            <div class="personal-account__block-footer-buttons">
                                <!--<a href="#" class="personal-account__block-footer-button">
                                    Редактировать
                                </a>-->
                                <a href="#" class="personal-account__block-footer-button">
                                    Сохранить изменения
                                </a>
                                <a class="personal-account__small-button"
                                   asp-controller="Account"
                                   asp-action="Logout">
                                    Выход
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="personal-account__progress-blcok personal-account__block"
                         id="personal-account__progress-blcok">
                        <div class="personal-account__global-info">
                            <div class="personal-account__global-info-item">
                                Всего времени: @statisticType.AllTimeMiliseconds.GetTimeInNormalForm()
                            </div>
                            <div class="personal-account__global-info-item">
                                Средний CPM: @statisticType.AverageCPM
                            </div>
                            <div class="personal-account__global-info-item">
                                Средний процент ошибок: @statisticType.AverageErrorPercent
                            </div>
                        </div>
                        @if (typeOfTextsStatistics.Any())
                        {
                            @foreach (var typeTextStatistics in typeOfTextsStatistics)
                            {
                                <div class="personal-account__text-statistics">
                                    @if (!string.IsNullOrEmpty(typeTextStatistics.Key))
                                    {
                                        <div class="personal-account__name-block">
                                            <div class="personal-account__text-name">
                                                @typeTextStatistics.Key
                                            </div>
                                        </div>
                                    }
                                    <div class="personal-account__main-block">
                                        @foreach (var textStatistics in typeTextStatistics.Value)
                                        {
                                            <div class="personal-accout__concrete-text-statistics">
                                                <div class="personal-accout__concrete-text-name">
                                                    @textStatistics.TextTitle (@textStatistics.CountOfCorrects)
                                                </div>
                                                <div class="personal-accout__statistics-items">
                                                    <div class="personal-accout__statistics-item">
                                                        Напечатано раз: @textStatistics.AmountOfFinishedTexts
                                                    </div>
                                                    <div class="personal-accout__statistics-item">
                                                        Лучшее CPM: @textStatistics.CharactersPerMinute
                                                    </div>
                                                    <div class="personal-accout__statistics-item">
                                                        Лучшее время: @textStatistics.Miliseconds.GetTimeInNormalForm()
                                                    </div>
                                                    <div class="personal-accout__statistics-item">
                                                        Лучший процент ошибок: @textStatistics.GetPercentOfErrors()
                                                    </div>
                                                </div>
                                                <a class="personal-account__small-button personal-accout__button"
                                                   onclick="ClearTextStatistics('@typeTextStatistics.Key {@textStatistics.TextTitle}')">
                                                    Очистить
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        <form method="post" id="personal-account__ClearTextStatistics"></form>
                    </div>
                    <div class="personal-account__personalization-blcok"
                         id="personal-account__personalization-blcok">
                        not available now
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JS/personal-account.js"></script>
<script src="~/JS/statistic-spoller.js"></script>